.gallery-item {
    float: left;
    margin-top: 6px; 
    text-align: center;
}

.gallery-icon img {
    padding:5px;
    background-color:#ffffff;
    border: 1px solid #ccc;
}

.gallery-caption {
    margin-left: 0;
    font-size: 75%;
    line-height:100%;
}

.fpfcredit{
    margin-top: 2px;
    font-size:x-small;
    color: #BBBBBB;
}
